<style>
    td {
        width: 300px;
        font-size: 30px;
    }
</style>
<table>
    <tr>
        <td>continuity</td>
        <td style="background-color: #0D676F">#0D676F</td>
    </tr>
    <tr>
        <td>blue1</td>
        <td style="background-color: #124971">#124971</td>
    </tr>
    <tr>
        <td>green1</td>
        <td style="background-color: #3A7A00">#3A7A00</td>
    </tr>
    <tr>
        <td>yellow1</td>
        <td style="background-color: #DAC927">#DAC927</td>
    </tr>
    <tr>
        <td>violett2</td>
        <td style="background-color: #4B2751">#4B2751</td>
    </tr>

    <tr>
        <td>brown1</td>
        <td style="background-color: #502c19">#502c19</td>
    </tr>

    <tr>
        <td>pink1</td>
        <td style="background-color: #D14773">#D14773</td>
    </tr>
    <tr>
        <td>red1</td>
        <td style="background-color: #960004">#960004</td>
    </tr>
    <tr>
        <td>orange</td>
        <td style="background-color: #E66800">#E66800</td>
    </tr>

</table>
<!--
<br />
<br />
<table>
<tr><td>green1</td><td style="background-color: #162d12">#162d12</td></tr>
<tr><td>green2</td><td style="background-color: #183213">#183213</td></tr>
<tr><td>blue1</td><td style="background-color: #142c38">#142c38</td></tr>
<tr><td>blue2</td><td style="background-color: #16303e">#16303e</td></tr>
<tr><td>violett1</td><td style="background-color: #3d1744">#3d1744</td></tr>
<tr><td>violett2</td><td style="background-color: #42184a">#42184a</td></tr>
<tr><td>brown1</td><td style="background-color: #502c19">#502c19</td></tr>
<tr><td>brown2</td><td style="background-color: #562f1a">#562f1a</td></tr>
<tr><td>brown3</td><td style="background-color: #5c311b">#5c311b</td></tr>
<tr><td>yellow1</td><td style="background-color: #757925">#757925</td></tr>
<tr><td>yellow2</td><td style="background-color: #7b8025">#7b8025</td></tr>
<tr><td>orange1</td><td style="background-color: #aa683e">#aa683e</td></tr>
<tr><td>orange2</td><td style="background-color: #b16a3e">#b16a3e</td></tr>
<tr><td>red1</td><td style="background-color: #762b2b">#762b2b</td></tr>
<tr><td>red2</td><td style="background-color: #7c2c2c">#7c2c2c</td></tr>
<tr><td>pink1</td><td style="background-color: #BE1D75">#BE1D75</td></tr>
</table>
-->